[Unit]
Description = Smartdoor Key Management Web application
Requires=docker.service

[Service]
WorkingDirectory = /home/pi/smartdoor_host
ExecStart = docker compose up --no-recreate
ExecStop = docker compose down
Restart = no
Type = oneshot
User = pi

[Install]
WantedBy = multi-user.target
